
.root {
    -fx-background-image: url("taust.gif");
    -fx-background-repeat: no-repeat;
        -fx-background-size: 800 600;
        -fx-background-position: center center;

}

.tiitel {
    -fx-font-family: "Pieces of Eight";
        -fx-font-size: 100;


}
